<%= form_for @user do |new_user| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">  
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Signup</h1>
      <div class="account-wall">
        <div>
        <%= new_user.label :name %>
      
          <%= new_user.text_field :name,class: "form-control" %>
        </div>
      
      <div>
      <%= new_user.label :role %><br/>
        <%= new_user.select :role, options_for_select([['Manager', 'manager'], ['Developer', 'developer'],['User', 'user']]),{},{class: "form-control"} %>
        </div>
      <div>
      <%= new_user.label :email %>
          <%= new_user.text_field :email,class: "form-control" %>
        </div>
      <div class="field">
      <%= new_user.label :password %>
          <%= new_user.password_field :password,class: "form-control" %>
        </div>
      <div class="field">
      <%= new_user.label :password_confirmation %>
          <%= new_user.password_field :password_confirmation,class: "form-control" %><br/>
        </div>
      <div class="field"><%= new_user.submit "Sign Up", class: "btn btn-lg btn-block", style: "background-color:#666;color:white"  %></div>
      
<% end %>