<h2> Projects Listing </h2>
<br><br>
<div class="row">
	<div class="col-md-12">
		<% if @project.blank? %>
			<h4 align = "center"> 'No Project Yet' </h2> <br> <br>
		<% else %>
			<table class="table table-striped">
				<thead><td>Title</td><td>Creator</td><td>Action</td><td>Status</td></thead>
				<tbody>
			<% @project.each do |projkt| %>
			<tr>
				<td><%= projkt.title %></td>
				<td><%= User.find(projkt.user_id).name %></td>
				<td><%= link_to "Report Bug", new_project_bug_path(projkt), :class => 'btn btn-danger' %>

				<%= link_to "View Bugs", project_bugs_path(projkt), :class => 'btn btn-primary' %>
				</td>
				<td>
				<div id="assing">
					<% if ProjectUser.where("project_id = ? and  user_id = ? ",projkt.id, current_user.id).present? %>
						<p> Assigned </p>
					<% else %>
						<div class="assign_<%= projkt.id %>">
							<%= form_tag assign_project_path(projkt.id),:method => :POST, :remote => true do %>
							<%= submit_tag 'Assign Me',:class => 'btn btn-primary'%>
						<% end %>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		<% end %>
	<% end %>
	</tbody>
</table>

<div align = "center">
	<% if can? :create, @project %>
		<%= link_to :"New Project", new_project_path,:class => 'btn btn-success' %>
	<% end %>
</div>
</div>
</div>
