
<div class="container">  
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Report Your Bug Here</h1>
      <div class="account-wall">
<%= form_for [:project, @bug], :html => {:multipart => true} do |bugg| %>
	<%= bugg.hidden_field :project_id %>
  <%= bugg.hidden_field :user_id, value:  current_user.id %>

<div>
  <div>
    <%= bugg.label :tilte %>
    <%= bugg.text_field :tilte,class: "form-control" %>
  </div>
<div>
    <%= bugg.label :description %>
    <%= bugg.text_field :description,class: "form-control" %>
  </div>
  <div >
  	<%= bugg.label :bug_type %><br/>
  	<%= bugg.select :bug_type, options_for_select([['Select Type', 'select'],['Feature', 'feature'], ['Bug', 'bug']]),class: "form-control" %><br/>
  </div>
  <div  class = "hidden_option", id = "feature-select">
  	<%= bugg.label :status %><br/>
  	<%= bugg.select :status, options_for_select([['New', 'New'], ['Started', 'started'], ['Completed', 'completed']]),class: "form-control" %>
  </div> 
  <div class = "hidden_option", id = "bug-select">
    <%= bugg.label :status %><br/>
    <%= bugg.select :status, options_for_select([['New', 'New'], ['Started', 'started'], ['Resolved', 'resolved']]),class: "form-control" %>
  </div>
  <div>
    <%= bugg.label :deadline %>
    <%= bugg.text_field :deadline , :type => "date",class: "form-control" %>
  </div>
  <p><br/>
    <%= bugg.file_field :img %>
  </p>
  <div class="field"><%= bugg.submit "Report", class: "btn btn-lg btn-block" , style: "background-color:#666;color:white" %></div>
  <% end %>
</div>
</div>
</div>
</div>
</div>

<script>
    
    $("#bug_bug_type").change(function(){
      console.log($("#bug_bug_type").val());
         if ($("#bug_bug_type").val()=="feature"){
             $("#feature-select").show();
             $("#bug-select").hide();
         } else {
             $('#bug-select').show();
             $("#feature-select").hide();
         }
    })
</script>